@import "tailwindcss";

/* Khai báo biến màu cho hệ thống bệnh viện */
@theme {
  --color-xanh-dam: #2A617D;
  --color-xanh-nhat: #8DC2DB;
  --color-trang: #F8F6F0;
  --color-be: #ECD89E;
  --color-nau: #BA0D84;
}